server:
  port: 8082

spring:
  application:
    name: notification-service

  # Configurazione MongoDB
  data:
    mongodb:
      uri: mongodb://localhost:27017/notification_db

  # Configurazione Kafka
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: notification-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"
        spring.json.value.default.type: com.diaia.notification_service.model.dto.AppointmentDTO # Modifica con il tuo package reale
