server:
  port: 8083

spring:
  cloud:
    compatibility-verifier:
      enabled: false
    gateway:
      routes:
        - id: booking-service
          uri: http://localhost:8081
          predicates:
            - Path=/api/v1/appointments/**
          filters:
            - JwtAuthenticationFilter

        - id: notification-service
          uri: http://localhost:8082
          predicates:
            - Path=/api/notifications/**